@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global style */
body {
  background-color: #f9fafb;
}
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.btn-primary {
  background: #2563eb;
  color: white;
  padding: 10px;
  border-radius: 6px;
}
